//colors
$color-black: #12181F;
$color-white: #fff;

$color-primary: #feca57;
$color-secondary-green: #10ac84;
$color-tertiary-red: #ee5253;

//grid
$grid-width: 116rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;