.section{
    margin-top: 4rem;
}

.section-beans{
    margin-left: 5%;
    margin-bottom: 2rem;
}

.section-story{
    margin-left: 5%;
    margin-bottom: 2rem;
}

.section-contact{
    margin-left: 5%;
}