.home-links{
    position: absolute;
    top: 40%;
    left: 5%;

    &__item{
        list-style: none;
        &:not(:last-child){
            margin-bottom: .5rem;
        }
        
    }

    &__link{
        @include link-animate

    }
}