.header{
    height: 100vh;
    background-image: 
        linear-gradient(to right bottom,
            rgba(128, 128, 45, 100%), rgba(128, 128, 45, 100%)),   
        url(../../img/annie-spratt-PM4Vu1B0gxk-unsplash.jpg);
    
    background-blend-mode: color;
        background-size: cover;
    background-position: top;
    position: relative;
    }

