.navigation{
    &__checkbox{
        display: none;
    }

    &__button{
        background-color: $color-black;
        height: 6rem;
        width: 6rem;
        position: fixed;
        top: 6.5rem;
        right: 6rem;
        border-radius: 0%;
        z-index: 2000;
        text-align: center;
        cursor: pointer;
        transition: all .3s;

        box-shadow: 0 1rem 3rem rgba($color-black, .2);
    
        &:hover{
            box-shadow: 0 1rem 2rem rgba($color-black, .1);

        }
        &:active{
            box-shadow: 0 1rem 5rem rgba($color-black, .1);

        }
    }

    &__icon{
        position: relative;
        margin-top: 3em;
        &,
        &::before,
        &::after{
            width: 3rem;
            height: 2px;
            background-color: #fff;
            display: inline-block;
            transition: all .2s;
        }

        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
        }

        &::before{ top: -.8rem; }
        &::after{ top: .8rem; }

    }

    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before{
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after{
        top: 0;
        transform: rotate(-135deg);
    }
}